@import 'header';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'section4';
@import 'section5';
@import 'section6';
@import 'section7';
@import 'section8';
@import 'section9';
@import 'section10';
@import 'footer';

html{
    @include BootstrapMaxWidthResponsive(lg){ 
        font-size: 14px;
    }
    @include BootstrapMaxWidthResponsive(md){ 
        font-size: 13px;
    }
    @include BootstrapMaxWidthResponsive(sm){ 
        font-size: 12px;
    }
    @include BootstrapMaxWidthResponsive(xs){ 
        font-size: 11px;
    }
}

p{
    color: white;
    line-height: 1.5;
}

a{
    color: white !important;
}

h1,h2{
    font-weight: bolder !important;
}

h3{
    font-size: 2.8rem ;
    font-weight: bold ;
}

.buton{
    margin-top: 25px ;
    div{
        display: inline-block;
        background-image: url(#{$path-assets-url}/img/Primarybox1.png#{$cache-busting});
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: auto;
        button{
            padding: 16px 25px;
            background: inherit;
            color: white;
            font-size: 1.125rem;
            font-weight: bolder;
            border: 0;
            &:hover{
                opacity: .8;
            }
        }
    }
}